<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap"
    rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

  <!-- Icons Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/checkout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/header.js"></script>
  <script type="text/javascript" src="/scripts/checkout.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <!-- home page header with restaurant name and welcome message. -->
  <header>
    <div class="jumbotron jumbotron-fluid hero">
      <h1 class="display-7 hero-text">FRESH EATS & TASTY TREATS</h1>
    </div>
    <div class="container">
      <h1 display-7>Welcome to our Restaurant!</h1>
      <p class="lead">
        Browse our menu and fill your cart. Simply hit checkout and we will notify you of
        your order status via sms. Enjoy!
      </p>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="row">
        <div class="col col-sm-8">
          <section class="order-info">
            <% if (time < 14) { %>
              <h2>What's for <strong>Breakfast</strong>?</h2>
            <% } else if (time >= 14 && time <= 18) { %>
              <h2>What's for <strong>Lunch</strong>?</h2>
            <% } else { %>
                <h2>What's for <strong>Dinner</strong>?</h2>
            <% } %>
            <div class="row justify-content-center">
              <div class="col-auto">
                <table class="table table-responsive">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" id="hide-food-id">Food ID</th>
                      <th scope="col"></th>
                      <th scope="col">Expand to Read More!</th>
                      <th scope="col">Cost</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Item Total</th>
                      <th scope="col">Add to Cart</th>
                    </tr>
                  </thead>
                  <tbody>
                  <% for(const food of menuItems) { %>
                    <tr class="food-row">
                      <td class="hide food-id"><%= food.id %></td>
                      <td class='food-photo'>
                        <img src="<%= food.food_photo_url %>" />
                      </td>
                      <td class="food-name">
                        <button type="button" class="collapsible"><%= food.name %> <i class="fas fa-arrow-down"></i></button>
                        <div class="content">
                          <p><%= food.description %></p>
                        </div>
                      </td>
                      <td class="item-cost">$<%= food.cost %></td>
                      <td class="qty">0</td>
                      <td class="item-total">$0</td>
                      <td class="edit-cart">
                        <button type="button" class="btn btn-success plus">+</button>
                        <button type="button" class="btn btn-success minus">-</button>
                        <button type="button" class="btn btn-success remove">x</button>
                      </td>
                    </tr>
                    <% } %>
                    </table>
              </div>
            </div>
          </section>
        </div>
        <div class="col col-sm-4">
          <section class="place-order">
            <h2 id="checkout"><strong>Place Your Order</strong></h2>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Item Total</th>
                  <td class="order-total">$0</td>
                </tr>
                <tr>
                  <th scope="row">HST/GST</th>
                  <td class="order-tax">$0</td>
                </tr>
                <tr>
                  <th scope="row">Grand Total</th>
                  <td class="order-grand-total">$0</td>
                </tr>
                <tr>
                  <th scope="row">Order Notes</th>
                  <td class="order-notes">
                      <textarea name="text" placeholder="Allergies? Mods? Love notes? Leave it here"></textarea>
                  </td>
                </tr>
              </tbody>
            </table>
            <form action="/confirm" method="POST">
              <textarea name="orderNotes" placeholder="Allergies? Mods? Love notes? Leave it here"></textarea>
              <button type="submit" class="btn btn-success" id="confirm">I'm Ready! Confirm Order</button>
            </form>
          </section>
        </div>
      </div>
  </main>

  <footer></footer>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>
